
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="editHead">Edit news post</h3>
    </div>
    <div class="modal-body">
        <form action="{{ url_for('news_edit', pid=pid) }}" method="POST" id="editform{{ pid }}">
            <label for="form-title">Post title</label>
            <input type="text" name="title" id="form-title" placeholder="Post title..." value="{{ title }}"><br>
            <label for=form-contents">Post contents</label>
            <textarea rows="10" style="width:90%" name="contents" id="form-contents" placeholder="Post contents...">{{ contents }}</textarea><br>
        </form>
        </div>
            <div class="modal-footer">
                <input type="submit" value="Edit post..." class="btn btn-primary" onclick="$('#editform{{ pid }}').submit()">
            </div>
<script>
            tinymce.init({selector:'textarea'});
        </script>
